#componentsTableSorting tr.drop-over-downward td {
    border-bottom: 2px dashed #ff8e59;
  }
  
#componentsTableSorting tr.drop-over-upward td {
    border-top: 2px dashed #ff8e59;
}

.table-header-icon {
    margin-left: 8px;
    cursor: pointer
}
.table-header-status-div {
    display: flex;
    align-items: center;
}

.table-header-status-icon {
    width: 6px;
    height: 6px;
    border-radius: 100%;
}
// 1-启用样式
.table-header-status-icon-1 {
    background: #52C41A;
}
// 2-停用样式
.table-header-status-icon-2 {
    background: #BFBFBF;
}
.card-container {
    .ant-tabs-card{
        .ant-tabs-content {
            height: 120px;
            margin-top: -16px;
            .ant-tabs-tabpane {
                background: #fff;
                padding: 16px;
            }
        }
        .ant-tabs-bar {
            border-color: #fff;
            .ant-tabs-tab {
                border-color: transparent;
                background: transparent;
            }
            .ant-tabs-tab-active {
                border-color: #fff;
                background: #fff;
            }
        }
    }
}  