.currTepBox {
  position: relative;
  // text-align: center;
  transition: all 0.4s ease;
  // padding-right: 376px;

  &.rightPlaceHolder {
    padding-right: 376px;
  }

  ul {
    padding-left: 0;
  }
  p {
    margin: 0;
  }

  .btnbox {
    width: 6em;
    margin: 0 auto;

    button {
      margin-top: 10px;
    }
  }

  .phoneBox {
    transform: scale3d(1, 1, 1);
  }
}
