.companyOut {
  background: #2c2c2c;
  color: #aeaeae;
}

.copyRightOut {
  background: #060606;
  color: #656565;
}

.companyBox,
.copyRightBox {
  width: 1000px;
  margin: 0 auto;
  padding: 1.5em 0;
}

.companyBox {
  display: flex;
  gap: 20px;
  position: relative;
}

.wechatWrapper,
.contactUs,
.companyAddressWrapper {
  width: 30%;
  padding-right: 1em;
}
.wechatWrapper > b,
.contactUs > b,
.companyAddressWrapper > b {
  color: #f4f3f4;
  display: block;
  font-size: 16px;
  padding-bottom: 25px;
}

.companyBox > div .qrCodeImg {
  width: 78px;
  height: 78px;
  border: 3px solid #fff;
}

.companyBox > div .minImgBox {
  width: 156px;
  height: 78px;
  border-radius: 2px;
  margin-right: 16px;
  overflow: hidden;
}

.companyBox > div .minImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.companyBox > .companyAddressWrapper {
  width: 33%;
}

.copyRightBox {
  font-size: 12px;
}

.copyRightBox p {
  display: flex;
  justify-content: space-between;
}

.contactUs p {
  text-indent: 29px;
}
.contactUs .customerService {
  background: url(/img/phone.png) no-repeat left center;
}
.contactUs .email {
  background: url(/img/mail-fill.png) no-repeat left center;
}
.contactUs .wechat {
  background: url(/img/wechat.png) no-repeat left center;
}
.contactUs .customerService,
.contactUs .email,
.contactUs .wechat {
  margin-bottom: 12px;
}

.wechatName {
  margin-top: 12px;
}

.storeAddress {
  text-indent: 29px;
  background: url(/img/add.png) no-repeat left center;
  margin-top: 12px;
}

.editButton {
  display: none;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  background-color: #515151;
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  border-radius: 2px;
  cursor: pointer;
}

.editMode:hover {
  border: 1px dashed #ff7300;
}

.editMode:hover .editButton {
  display: block;
}
