.companyOut {
  background: rgba(44, 44, 44, 1);
  color: rgba(174, 174, 174, 1);
}
.copyRightOut {
  background: rgba(6, 6, 6, 1);
  color: rgba(101, 101, 101, 1);
}
.companyBox,
.copyRightBox {
  width: 1100px;
  margin: 0 auto;
  padding: 1.5em 0;
}
.companyBox p,
.copyRightBox p {
  margin: 0;
}
.companyBox {
  display: flex;
  gap: 20px;
}
.companyBox > div {
  width: 30%;
  padding-right: 1em;
}
.companyBox > div > b {
  color: rgba(244, 243, 244, 1);
  display: block;
  font-size: 16px;
  padding-bottom: 1.2em;
}
.companyBox > div > p {
  margin-top: 0.6em;
}
.companyBox > div .qrCodeImg {
  width: 78px;
  height: 78px;
  border: 3px solid #fff;
}
.companyBox > div .minImgBox {
  width: 156px;
  height: 78px;
  border-radius: 2px;
  margin-right: 16px;
  overflow: hidden;
}
.companyBox > div .minImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.companyBox .contactUs > b {
  padding-bottom: 0.5em;
}
.companyBox > div:last-child {
  width: 33%;
}
.copyRightBox {
  font-size: 12px;
}
.copyRightBox p {
  display: flex;
  justify-content: space-between;
}

.contactUs {
  p {
    text-indent: 29px;
  }

  .customerService {
    background: url(/img/phone.png) no-repeat left center;
  }

  .email {
    background: url(/img/mail-fill.png) no-repeat left center;
  }
  .wechat {
    background: url(/img/wechat.png) no-repeat left center;
  }
}

.storeAddress {
  text-indent: 29px;
  background: url(/img/add.png) no-repeat left center;
}
