.searchTags {
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: 1em;
  display: flex;
  align-items: center;

  .tagbox {
    padding-left: 2.5em;
    display: flex;
    align-items: center;

    span {
      padding: 0 1em;
      margin: 0 0.5em;
      cursor: pointer;

      &.on {
        background: #fe6a30;
        color: #fff;
        border-radius: 3px;
      }
    }
  }
}
.addBtn {
  margin: 0 0 1em;
}
.actions {
  margin: 0;
  a {
    margin-right: 7px;
  }
}

.stateBox {
  width: 60px;

  u {
    background: rgb(245, 121, 5);
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;

    .cls1 {
      background: rgb(6, 168, 0);
    }
    .cls2 {
      background: rgb(119, 119, 119);
    }
  }
}

.timeBox {
  width: 160px;
}

:global {
  .ant-btn {
    margin-right: 10px;
  }
}
