.currTepBox {
  position: relative;
  transition: all 0.4s ease;
  // text-align: center;

  &.rightPlaceHolder {
    padding-right: 376px;
  }

  ul {
    padding-left: 0;
  }
  p {
    margin: 0;
  }

  .tipsOut {
    margin: 0 auto;
    width: 375px;
    height: 0;
    background: #ccc;
    position: relative;

    .tipsBox {
      position: absolute;
      width: 32px;
      height: 32px;
      left: 400px;
      bottom: 12.5em;
      background: #fff;
      color: #999fb6;
      border-radius: 18px;
      padding: 6px 8px 0;
      cursor: pointer;
      text-align: left;
      transition: all 0.4s ease;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      width: 88px;
      background: #fff;
      color: #ef6a30;
      span {
        white-space: nowrap;
        overflow: hidden;
      }

      b {
        padding-left: 5px;
        font-size: 12px;
        font-weight: 400;
        display: inline-block;
        vertical-align: text-top;
        transition: width 0.4s ease;
        white-space: nowrap;
        overflow: hidden;
        width: 0;
        width: 53px;
      }
      i {
        color: #ef6a30!important;
      }
      &:hover {
        // width: 88px;
        background: #ef6a30;
        color: #fff;
        i {
          color: #fff!important;
        }
        b {
          width: 53px;
        }
      }
    }
  }
}

:global {
  .ant-tooltip {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        background: #fff;
        color: #333;
        padding: 1em;
        font-size: 12px;
      }
      .ant-tooltip-arrow::before {
        background: #fff;
        border-color: #fff;
      }
    }
  }
}
