.appletWrap {
  display: flex;
  padding: 0;
  // margin-left: -24px;
  .appleLeft {
    width: 240px;
    padding: 0;
  }
  .appleRight {
    flex: 1;
    min-height: 200px;
    padding-left: 40px;
  }
}
